main{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px;
    
    & img{
        width: 286px;
        height: 286px;
        object-fit: cover;
    }
} 

@media (width <= 23.4375em){
    main{
        gap: 1rem;   
        align-items: center; 
        justify-content: center;
        
        & img{
            width: 328px;
            height: 328px;
        }
    }

}